{% extends "index.html" %}
<head>
    {%load static %}
</head>
{% block codigoDinamico %}
    {% for p in posteos %}
    <li><h1> Titulo: {{ p.titulo }}</h1></li>
        <li> Curso: {{ p.curso_concretado }}</li>
        <li> Opinion: {{ p.resenia }}</li>
        <li> Usuario: {{ p.publisher }}</li>
        <li> Creado el: {{ p.fecha_post }}</li>

         {% if p.imagen %}
         <li><img src="{{ p.imagen.url }}" alt="Imagen" style="width: 200px"></li>
        {% endif%}

        <button>
            {% if p.publisher == user %}    
                 <a href="{% url 'eliminar_posteo' p.id %}"> Eliminar</a>
                 <a href="{% url 'editar_posteo' p.id %}"> Editar</a>
            {% endif%}
         </button>

    {% endfor %}
    {% if user.is_authenticated %}
        <h1>Compartenos tu experiencia con los cursos  <a href="{% url 'post' %}"> Agregar Posteo </a></h1>
    {% endif %}
{% endblock %}